apiKey: 8e3436bc12e012bc870174234b344152
spring:
  datasource:
    url: jdbc:mysql://db:3306/weather_tracking?useSSL=false
    username: root
    password: password
  sql:
    init:
      mode: always
  jpa:
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: none

